<div>
    <h2>
        <span jhiTranslate="materialAndStockManagementApp.workgroup.home.title">Workgroups</span>
        <button class="btn btn-primary float-right jh-create-entity create-workgroup-stock-and-sales-utility" [routerLink]="['/', { outlets: { popup: ['workgroup-stock-and-sales-utility-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="materialAndStockManagementApp.workgroup.home.createLabel">
            Create new Workgroup
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'materialAndStockManagementApp.workgroup.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="workgroups">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="code"><span jhiTranslate="materialAndStockManagementApp.workgroup.code">Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="materialAndStockManagementApp.workgroup.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="comments"><span jhiTranslate="materialAndStockManagementApp.workgroup.comments">Comments</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let workgroup of workgroups ;trackBy: trackId">
                <td><a [routerLink]="['../workgroup-stock-and-sales-utility', workgroup.id ]">{{workgroup.id}}</a></td>
                <td>{{workgroup.code}}</td>
                <td>{{workgroup.description}}</td>
                <td>{{workgroup.comments}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../workgroup-stock-and-sales-utility', workgroup.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'workgroup-stock-and-sales-utility/'+ workgroup.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'workgroup-stock-and-sales-utility/'+ workgroup.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
